body {
  background-image: none;
  background-color: #0b0c19;
}

#loading {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  z-index: 110;
  opacity: 0.8;
}

#game {
  z-index: -1;
}