.window {
	pointer-events: none;
	position: absolute;
	width: clamp( 180px + 16vw, 18vw, 300px );
	margin: clamp( 5px, 2vw, 50px );
	z-index: 9;
	background-color: rgba(151, 186, 255, 0.75);
	border-radius: 8px 8px 0 0;
	box-shadow: 8px 8px 6px -6px black;
	display: none;
}

.window-active {
	z-index: 100;
}

.window-title {
	pointer-events: auto;
	font-weight: 550;
	width: 80%;
	display: inline-block; 
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	cursor: default;
	position: relative;
	padding: 3px;
	margin: 2px;
	z-index: 10;
	color: #fff;
}

.window-content {
	padding: clamp( 1px + 1vw, 1vw, 25px );
	font-size: clamp( 17px + 2.1vw, 2.2vw, 25px );
}

.close-button {
	pointer-events: auto;
	margin: 5px;
	color: rgb(240, 200, 210, 0.4);
	cursor: default;
	position: relative;
	bottom: 2px;
	display: inline;
	float: right;
}

.close-button:hover {
	color: rgb(255, 255, 255);
	background-color: rgb(176, 20, 20);	
}

.window-group {
	justify-content: right;
	display: flex;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	line-height: 1.1;
	opacity: 0.9;
}

.title-bar {
	/* background-color: rgb(14, 46, 134); */
	font-size: clamp( 18px + 2.2vw, 2.5vw, 30px );
	padding:3px;
}

#tile-dlg-title {
	background-color: rgb(14, 46, 134);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

.window-group p {
	cursor: default;
	padding: 0;
	margin: 3px;
}

sl-progress-ring {
	--track-width: clamp( 5px, 0.5vh + 1.5vw, 40px );; 
	--indicator-width: clamp( 8px, 1vh + 2vw, 48px );;
	--size: clamp( 100px, 5vh + 10vw, 300px );
	--track-color: rgba(3, 123, 142, 0.4);
	--indicator-color: rgba(75, 41, 155, 0.8);
	position: fixed;
	bottom: clamp( 8px, 3px + 0.5vh, 60px );
	right: clamp( 8px, 3px + 0.5vw, 60px );
}
